<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.zopim.sample"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SampleChatActivity"
            android:label="@string/chat_fragment_title"
            android:theme="@style/ZopimChatTheme"
            android:windowSoftInputMode="stateUnspecified|adjustResize">

            <!-- Increase the priority to receive RESUME_CHAT intent from the chat widget. ZopimChatActivity priority is -1000. To override set yours to -999 for instance. -->
            <intent-filter android:priority="-1000">
                <action android:name="zopim.action.RESUME_CHAT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".PushListenerService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
